<%= search_form_for @q, url: admin_bookings_path do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :tour_tour_name_cont, t("bookings.tour_name"), class: "form-label fw-bold" %>
      <%= f.search_field :tour_tour_name_cont, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.label :number_of_guests_gteq, t("min_guest"), class: "form-label fw-bold" %>
      <%= f.number_field :number_of_guests_gteq, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.label :number_of_guests_lteq, t("max_guest"), class: "form-label fw-bold" %>
      <%= f.number_field :number_of_guests_lteq, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.label :total_price_gteq, t("min_total"), class: "form-label fw-bold" %>
      <%= f.number_field :total_price_gteq, class: "form-control" %>
    </div>
     <div class="col-md-2">
      <%= f.label :total_price_lteq, t("max_total"), class: "form-label fw-bold" %>
      <%= f.number_field :total_price_lteq, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.label :started_date, t("min_start_date"), class: "form-label fw-bold" %>
      <%= f.date_field :started_date_gteq, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.label :started_date, t("max_start_date"), class: "form-label fw-bold" %>
      <%= f.date_field :started_date_lteq, class: "form-control" %>
    </div>
      <div class="col-md-4 d-flex align-items-end flex-wrap mt-2">
        <% Booking.statuses.each do |key, value| %>
          <div class="form-check form-check-inline">
            <%= check_box_tag "statuses[]", value, params[:statuses].present? && params[:statuses].include?(value), class: "form-check-input" %>
            <%= label_tag "bookings.status.#{value}", t("bookings.#{key}"), class: "form-check-label" %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-2 mt-5">
      <%= submit_tag t("bookings.search"), class: "btn btn-primary w-100" %>
    </div>
     <div class="col-md-2 mt-5">
      <%= link_to t("refresh"), admin_bookings_path, class: "btn btn-secondary w-100" %>
    </div>
  </div>
<% end %>
