<section class="intro">
  <div class="gradient-custom-1 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="my-2 d-flex">
              <%= render "search-form" %>
              <div>
                 <%= link_to t("refresh"), admin_tours_path, class:"btn btn-secondary mx-3" %>
              </div>
            </div>
            <div class="table-responsive bg-white">
              <table class="table mb-0 table-striped">
                <thead>
                  <tr>
                    <th scope="col"><%= t "stt" %></th>
                    <th scope="col"><%= t "tour_name" %></th>
                    <th scope="col"><%= t "city" %></th>
                    <th scope="col"><%= t "tour_destination" %></th>
                    <th scope="col"><%= t "price" %></th>
                    <th scope="col"><%= t "day_duration" %></th>
                    <th scope="col"><%= t "deposit" %>(%)</th>
                    <th scope="px-5"><%= t "status" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @tours.each_with_index do |tour, index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td scope="row" class="fst-italic"><%= tour.tour_name %></td>
                      <td><%= tour.city %></td>
                      <td><%= truncate(tour.tour_destination, length: Settings.digit_30, omission: "....") %></td>
                      <td><%= number_to_currency(tour.price) %></td>
                      <td class="text-center"><%= tour.day_duration %></td>
                      <td class="text-center"><%= tour.deposit_percent %>%</td>
                      <td class="text-center"><%= status_badge(tour.status) %></td>
                      <td><%= link_to t("view"), admin_tour_path(tour), class: "btn text-primary" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between py-4">
      <%= link_to t("create_new"), new_admin_tour_path, class: "btn btn-primary" %>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</section>
