<div class="container px-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h5><%= t "tour_details" %></h5>
      </div>
      <div class="card-body px-5">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="col-7">
            <div class="row mb-4">
              <div class="col-md-5 fw-bold"><%= t "tours.tour_name" %>:</div>
              <div class="col-md-7"><%= @tour.tour_name %></div>
            </div>
            <div class="row mb-4">
              <div class="col-md-5 fw-bold"><%= t "tours.tour_destination" %>:</div>
              <div class="col-md-7"><%= @tour.tour_destination %></div>
            </div>
            <div class="row mb-4">
              <div class="col-md-5 fw-bold"><%=t "tours.city" %>:</div>
              <div class="col-md-7"><%= @tour.city %></div>
            </div>
          </div>
          <div class="col-5">
            <div class="row mb-4">
              <div class="col-md-5 fw-bold"><%= t "min_guest" %>:</div>
              <div class="col-md-7"><%= @tour.min_guests %></div>
            </div>
            <div class="row mb-4">
              <div class="col-md-5 fw-bold"><%= t "max_guest" %>:</div>
              <div class="col-md-7"><%= @tour.max_guests %></div>
            </div>
            <div class="row mb-4">
              <div class="col-md-5 fw-bold"><%= t "tours.tour_type" %>:</div>
              <div class="col-md-7"><%= @tour.tour_type.type_name %></div>
            </div>
             <div class="row mb-4">
              <div class="col-md-5 fw-bold"><%= t "deposit_percent" %>:</div>
              <div class="col-md-7"><%= @tour.deposit_percent %>%</div>
            </div>
          </div>
          <div class="col-12">
            <div class="row mb-4">
              <p class="fw-bold"><%= t "tour.description" %>:</p>
              <div class="mx-2">
                <p><%= @tour.description %></p>
              </div>
            </div>
          </div>
          <div class="col-12">
          <h5><%= t "tours.images" %></h5>
          <% if @tour.images.attached? %>
            <div class="d-flex flex-wrap">
              <%= render partial: "image", collection: @tour.images %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-end py-4">
      <%= link_to t("back"), admin_tours_path, class: "btn btn-primary me-3 px-3" %>
      <% if can_edit_tour(@tour) %>
        <%= link_to t("edit"), edit_admin_tour_path(@tour), class: "btn btn-success me-3 px-4" %>
      <% end %>
    </div>
  </div>
</div>
