<% if flights.present? %>
  <table class="table table-striped table-hover my-4" id="available-flight-table">
    <thead>
      <tr>
        <th>STT</th>
        <th><%= t "airline_brand" %></th>
        <th><%= t "departure_time" %></th>
        <th><%= t "hour" %></th>
        <th><%= t "origin" %></th>
        <th><%= t "destination" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% flights.each_with_index do |flight, index| %>
        <%= render "flight", {flight: flight, index: index} %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-light my-3" role="alert">
    <%= t "no_flights" %>
  </div>
<% end %>
