<tr>
  <td><%= link_to booking.tour.tour_name, booking.tour %></td>
  <td><%= booking.number_of_guests %></td>
  <td><%= booking.total_price %></td>
  <td><%= booking.phone_number %></td>
  <td><%= booking.started_date %></td>
  <td><%= booking.status %></td>
  <td><%= link_to t("view"), user_booking_path(booking.user, booking) %></td>
</tr>
