<div class="booking-form">
  <%= search_form_for @q, url: user_path(@user), method: :get do |f| %>
    <div class="row">
      <div class="col-12 col-lg-6 mt-2">
        <%= f.search_field :tour_tour_name_cont, class: "form-control", placeholder: t("bookings.tour_name") %>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mt-2">
        <%= f.number_field :number_of_guests_gteq, class: "form-control", placeholder: t("bookings.number_of_guests") %>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mt-2">
        <%= f.number_field :total_price_gteq, class: "form-control", placeholder: t("bookings.total_price") %>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mt-2">
        <%= f.date_field :started_date_gteq, class: "form-control", placeholder: t("bookings.started_date") %>
      </div>
    </div>
    <div class="row mt-4 mb-2">
      <div class="d-flex gap-4 booking-status justify-content-center align-items-center">
        <%= t "bookings.choose_status" %>
        <% Booking.statuses.each do |status, _value| %>
          <div class="d-flex gap-2">
            <%= f.check_box :status_in, { multiple: true }, status, nil %>
            <%= f.label :status_in, t("bookings.#{status}"), value: status %>
          </div>
        <% end %>
      </div>      
    </div>
    <div class="row mb-4 mt-2">
      <div class="col-12 d-flex justify-content-center">
        <%= f.submit t("bookings.search"), class: "btn btn-submit" %>
      </div>
    </div>
  <% end %>
</div>
