<div class="container py-4">
  <div class="row">
    <div class="col-4 order-2 px-4">

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class=text-muted><%= t "your_order" %></span>
      </h4>

      <li class="py-2 list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0"><%= @tour.tour_name %></h6>
          <small class="text-muted"><%= @tour.city %></small>
        </div>
        <p>$<span class="text-muted" id="tour-price-id"><%= @tour.price %></span></p>
      </li>

     <div>
        <li class="py-2 list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0"><%= t "flight_tickets" %></h6>
            <small class="checkout-total-guest">
              <%= t "number" %> <small id="number-ticket-id"><%= Settings.digit_0 %></small>
            </small>
          </div>
          <p>$<span class="text-success" id="total-ticket-price-id"><%= Settings.digit_0 %></span>
          </p>
        </li>
      </div>

      <li class="pt-2 list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0"><%= t "promotion_code" %></h6>
          <small class="voucher-code"><%= :EXAMPLECODE %></small>
        </div>
      </li>
      <hr>
      <div class="card-footer d-flex justify-content-between py-3">
        <span><strong id="total-price"><%= t "total_usd" %></strong></span>
        <span class="text-warning">
          $<strong id="total-booking-price"><%= @tour.price %></strong>
        </span>
      </div>
    </div>
    <div class="col-8 order-1 px-4">
      <h4 class="mb-3"><%= t "booking_tour" %></h4>
      <%= render "booking_form", booking: @booking %>
    </div>
  </div>
</div>
