<!DOCTYPE html>
<html>
  <head>
    <title><%= t "base_title" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main">
      <header class="navbar sticky-top row">
        <div class="navbar-container">
          <div class="navbar-left">
            <span class="navbar-logo">
              <%= link_to image_tag("logo.png", alt: t("base_title")), root_path, class: "app-logo" %>
            </span>
            <span class="navbar-locale">
              <span class="navbar-en">
                <%= link_to t("en"), locale: :en %>
              </span>
              <span class="navbar-vi">
                <%= link_to t("vi"), locale: :vi %>
              </span>
            </span>
          </div>
          <div class="navbar-center mx-auto">
            <%= link_to t("view_tour"), tours_path, class: "navbar-tours navbar-btn" %>
          </div>
          <div class="navbar-right text-primary">
            <% if current_user.present? %>
              <div class="navbar-dropdown dropdown">
                <span class="navbar-btn"><%= t "account" %></span>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t("profile"), current_user, class: "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to t("booked"), current_user, class: "dropdown-item" %>
                  </li>
                  <li>
                    <li><%= button_to t("logout"), logout_path, method: :delete, class: "dropdown-item" %></li>
                  </li>
                </ul>
              </div>
            <% else %>
              <%= link_to t("register"), signup_path, class: "navbar-btn" %>
              <%= link_to t("login"), login_path, class: "navbar-btn" %>
            <% end %>
          </div>
        </div>
      </header>
      <div class="container min-vh-100">
        <%= render "shared/flash_messages" %>
        <%= yield %>
      </div>
      <footer class="bg-light row">
        <div class="footer">
          <span class="text-secondary footer-left">
            <%= t "footer_left" %>
          </span>
          <span class="text-secondary footer-right">
            <%= t "footer_right" %>
          </span>
        </div>
      </footer>
    </div>
  </body>
</html>
