<!DOCTYPE html>
<html>
  <head>
    <title><%= t "base_title" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main">
      <header class="navbar bg-light border-bottom sticky-top row">
        <div class="navbar-container">
          <div class="navbar-left">
            <span class="navbar-logo">
              <%= link_to t("base_title"), root_path, class: "text-info" %>
            </span>
            <span class="navbar-locale">
              <%= link_to t("en"), locale: :en %>
              <%= link_to t("vi"), locale: :vi %>
            </span>
          </div>
          <div class="navbar-right text-primary">
            <%= link_to t("register"), root_path %>
            <%= link_to t("login"), root_path %>
            <%= link_to t("view_tour"), root_path %>
            <div class="navbar-dropdown dropdown">
              <%= t "account" %>

              <ul class="dropdown-menu">
                <li>
                  <%= link_to t("profile"), root_path, class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to t("booked"), root_path, class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to t("logout"), root_path, class: "dropdown-item" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="container vh-100">
        <%= yield %>
      </div>
      <footer class="navbar bg-light border-top sticky-bottom row">
        <div class="navbar-container">
          <span class="text-secondary navbar-left">
            <%= t "footer_left" %>
          </span>
          <span class="text-secondary navbar-right">
            <%= t "footer_right" %>
          </span>
        </div>
      </footer>
    </div>
  </body>
</html>
